
.custom-text-color {
    color: black; 
}

.custom-link {
    color: #0b7285 !important;
}

.custom-link {
    text-decoration: none !important; /* Removes the underline from links */
}

p {
    margin-bottom: 0.5em; /* Reduces spacing between paragraphs */
}

.page__title {
    color: #0b7285; /* Change to desired color for <h1> headers */
}

.center-text {
  text-align: center;
}

summary {
    font-size: 0.9em; /* Adjust the size to match other text */
    font-weight: normal; /* This will ensure it is not bold by default */
}



